@media (min-width: 576px) { 
   nav {
       background-color: lime;
   }
 }

 .background {
  background: no-repeat url("../../asssets/images/18907.jpg");
  background-attachment: local;
  background-position: center;
  background-size: contain;
}