@import url('https://fonts.googleapis.com/css?family=PT+Sans');

// Variables
$font: 'PT Sans', sans-serif;

$bg_wrapper: linear-gradient(to left, #4ca0f4, #cfd2d9) ;
$white: rgb(17, 16, 16);
$black: #c3d1dd;
$grey: #A1A2AD;
$selection: #6469b1;

::selection {
   background: $selection;
}

* {
   margin: 0;
   padding: 0;
   font-family: $font;
   text-align: center;
   text-decoration: none;
   
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

img {
   max-width: 100%;
}

html, body {
   height: 100%;
}


.wrapper {
   max-width: 600px;
   position: relative;
   background: $bg_wrapper;
   opacity: 0.9;
   color: $white;
   margin: 20px;
   // margin-top: 30px;
   padding: 30px;
   border-radius: 20px;
   box-shadow: 0px 0px 80px 1px $black;
   .image-wrapper img {
      width: 225px;
      border-radius: 50%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }
   .name {
      font-size: 2.2em;
   }
   .description {
      color: $grey;
      text-transform: uppercase;
      margin-top: 10px;
   }
   .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.description:hover .tooltiptext {
    visibility: visible;
}
.hr {
    
    border-top: 1px solid rgba(223, 214, 197, 0.246);
}
   .social-media a i {
      color: $white;
      font-size: 2em;
      margin-left: 10px;
      margin-top: 10px;
      padding: 15px;
      transition: 300ms;
      &:hover {
         color: $grey;
         transition: 300ms;
      }
   }
   .follow {
      background: $white;
      color: $black;
      text-transform: uppercase;
      font-size: 1.2em;
      letter-spacing: 0.1em;
      padding: 10px 45px;
      border-radius: 30px;
      transition: 300ms;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover {
         background: $black;
         color: $white;
         transition: 300ms;
      }
      .fa-twitter {
         margin-right: 5px;
         margin-top: 15px;
      }
   }
}
.image-upload>input {
   display: none;
 }

