.paginator {
  margin: 10px;
}
.pageNumber {
  padding: 2px;
  border: 1px solid grey;
}
.pageNumber:hover {
  background-color: grey;
}
.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
  background-color: grey;
}