@import url('https://fonts.googleapis.com/css?family=PT+Sans');

// Variables
$font: 'PT Sans',
sans-serif;
;

$bg_wrapper: linear-gradient(to left, #d4d6d8, #c0d1e0);
$white: #fff;
$black: #c3d1dd;
$grey: #A1A2AD;
$selection: #6469b1;

::selection {
   background: $selection;
}


.mainUsers {
   font-weight: 300;
   text-align: center;
   margin-bottom: 3.125rem;
   display: table;
  margin-left: auto;
  margin-right: auto;
}
.formInline {
   flex-flow: row wrap;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

 }

.users-wrapper {
   width: 1170px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   @media screen and (max-width: 1250px) {
      width: 94%;
   }
}

.wrapper-user {
   text-align: center;
   // margin-top: 10px;
   // margin-bottom: 10px;
   //  max-width: 300px;
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;

   padding: 1.875rem;
   width: 23.125rem;
   margin: .937rem 0;
   background: $bg_wrapper;
   color: $white;
   border-radius: 10px;
   box-shadow: 0px 0px 80px 1px $black;

   @media screen and (max-width: 1250px) {
      width: 31.5%;
   }

   @media screen and (max-width: 990px) {
      width: 48.5%;
   }

   @media screen and (max-width: 650px) {
      margin: .7rem 0;
   }

   @media screen and (max-width: 480px) {
      width: 100%;
      margin: .5rem 0;
   }

   .image-wrapper img {
      width: 150px;
      border-radius: 50%;
   }

   .description-wrapper {
      text-align: center;
      position: relative;
      max-width: 150px;

      .name {
         font-size: auto;
      }

      .description {
         color: $grey;
         text-transform: uppercase;
         margin-top: 10px;
      }

      button {
         margin: 20px;
      }
   }

}

.team-hover {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: 0;
   border: 20px solid rgba(0, 0, 0, 0.1);
   background-color: rgba(255, 255, 255, 0.90);
   opacity: 0;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}

.wrapper-user:hover {
   opacity: 1;
}

.team-hover .desk {
   position: absolute;
   top: 0%;
   width: 100%;
   opacity: 0;
   -webkit-transform: translateY(-55%);
   -ms-transform: translateY(-55%);
   transform: translateY(-55%);
   -webkit-transition: all 0.3s 0.2s;
   transition: all 0.3s 0.2s;
   padding: 0 20px;
}

.desk,
.desk h4,
.team-hover .s-link a {
   text-align: center;
   color: #222;
}

.wrapper-user:hover .team-hover .s-link {
   bottom: 10%;
}

.wrapper-user:hover .team-hover,
.description-wrapper:hover,
.wrapper-user:hover .team-hover .desk,
.wrapper-user:hover .team-hover .s-link {
   opacity: 1;
}

.team-hover .s-link {
   position: absolute;
   bottom: 0;
   width: 100%;
   opacity: 0;
   text-align: center;
   -webkit-transform: translateY(45%);
   -ms-transform: translateY(45%);
   transform: translateY(45%);
   -webkit-transition: all 0.3s 0.2s;
   transition: all 0.3s 0.2s;
   font-size: 35px;
}

.desk,
.desk h4,
.team-hover .s-link a {
   text-align: center;
   color: #222;
}

.wrapper-user .s-link a {
   margin: 0 10px;
   color: #333;
   font-size: 16px;
}