/* .usersPhoto{
  width: 50px;
}
.pages {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  font-size: 25px;
  cursor: pointer;
}
.page {
  border: 1px solid #47ccde ;
  padding: 5px 10px;
}

.page:hover {
  color: aqua;
  font-weight: bold;
} */