@import url('https://fonts.googleapis.com/css?family=PT+Sans');
$font: 'Courier New', Courier, monospace;;


.post{
    width:100%;
    display:table;
    margin:10px;
  }
  .post-cell{  
    display:table-cell;
    vertical-align:middle;
  }
  .table-cell:first-child{
    padding:15px;
  }
  .img-column{
    width:50px;
    text-align:center;
    
    img {
        border-radius: 50%;
    }
    
  }
  .like{        
    width:70px;
    font-size:12px;
    
  }
  .icon {
      padding-right: 5px;
    }
    * {
        margin: 0;
        padding: 0;
        font-family: $font;}
        .buttonPost{
padding-top: 5px;
        }