
footer {
  padding: 2rem 0;
  background-color: #4d78eb;
  font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
  color: #3b4761;
  position: absolute;
  bottom: auto;
}

a:link {
  text-decoration: none;
  color: black;
}




