$bg_wrapper: linear-gradient(to left, #4ca0f4, #cfd2d9), ;
$white: rgb(17, 16, 16);
$black: #c3d1dd;
$grey: #A1A2AD;
$selection: #6469b1;

.loginForm {
    // max-width: 400px;
   position: relative;
   background: $bg_wrapper;
   opacity: 0.9;
   color: $white;
  
   margin-top: 30px;
   padding: 30px;
   border-radius: 20px;
   box-shadow: 0px 0px 80px 1px $black;
   text-align: center;
 
}
.image {
    inline-size: inherit;
}
