@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
    box-sizing: border-box;
  }
  .background {
    background: no-repeat url("../../asssets/images/2344.jpg");
    background-attachment: local;
    background-position: center;
    background-size: cover;
  }

.conMess {
    width: 90%;
    background: linear-gradient(to left, #4ca0f4, #cfd2d9);
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0.9;
}

.people-list {
  width:30%;
  float: left;
  
  .search {
    padding: 20px;
  }
  
//   input {
//     border-radius: 3px;
//     border: none;
//     padding: 14px;
//     color: white;
//     background: #6A6C75;
//     width: 90%;
//     font-size: 14px;
//   }
.chat-num-users {
  color: $gray;
}
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    height: 770px;
    list-style-type: none;
 
    li {
      padding-bottom: 20px;
    }
  }
  
  img {
    float: left;
    border-radius: 50%;
    max-width: 40px;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}

.chat {
  width: 70%;
  float:left;
  background: #F2F5F8;

  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
    
    img {
      float: left;
      max-width: 60px;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: $gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
    
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      margin-top: 10px;
      width: 90%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $green;
    }
    
    .other-message {
      background: $blue;
      
      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 30px;
    
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    button {
      float: right;
    //   color: $blue;
    //   font-size: 16px;
    //   text-transform: uppercase;
    //   border: none;
    //   cursor: pointer;
    //   font-weight: bold;
    //   background: #F2F5F8;
      
    //   &:hover {
    //     color: darken($blue, 7%);
    //   }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
  
.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
img {
    border-radius: 50%;
}
ul {
    list-style-type: none;
}

