.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItem .dialog {
    padding: 10px;
}

.dialog .active {
    color: gold;
    padding: 10px;
}
.messages {
    padding: 10px;
}
.messages .dialog {
    padding: 10px;
}
img {
    width: 30px;
}

.dialogBox {
    border-style: solid;
    border-color: grey;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }