
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
.react-icons {
	margin: 10px;
	
  }

.tags {
	color: black
}
img {
	width: 35px;
	margin-right: 5px;
}

.dropdown-item {
background-color: white;
}
.navbar-nav{
	display: block;
    margin-left: auto;
	margin-right: auto;
	
}
.icons {
	width: 35px;
}

.navbar {
	font-family: 'Courier New', Courier, monospace;
	text-transform: uppercase;
	color: #3b4761;
}